// #### Foundation Zurg ####
@import 'foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-typography;
// #### Compass framework lib ####
//@import "../../node_modules/compass-mixins/lib/compass/reset";
@import "../../node_modules/compass-mixins/lib/compass/css3";

$body-color: #2F2F2F;
$title-color: #f0f0f0;
$power-color: #ff8000;

body {
    background: $body-color;
}
.content {
    background: #3B3B3B;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    @include box-shadow(
        rgba(255, 255, 255, 0.1) 0 1px 0,
        rgba(0, 0, 0, 0.8) 0 2px 5px 2px);
}
.sub-content {
    background: #262626;
    padding: 10px;
    margin-bottom: 5px;
    border-color: #1E1E1E;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    @include box-shadow(
        rgba(255, 255, 255, 0.1) 0 1px 0,
        rgba(0, 0, 0, 0.9) 0 1px 7px 1px inset);
}
.title {
    color: $title-color;
}
.django-power {
    color: $power-color;
}
.mybutton {
    // @include button(false, #3B3933, #2A2926, #EDEDED, "solid");
    @include button();
    margin-left: 50px;
    @include box-shadow($body-color 2px 2px 15px);
    @include box-shadow(
        rgba(255, 255, 255, 0.1) 0 1px 0,
        rgba(0, 0, 0, 0.8) 0 1px 5px 1px inset);
}
ul {
    color: #C6C6C6;
}
code {
    font-family: menlo, monaco, "andale mono", "courier new", fixed;
    border-radius: 4px;
    background-color: #212121;
    @include box-shadow(
        rgba(255, 255, 255, 0.1) 0 1px 0,
        rgba(0, 0, 0, 0.9) 0 1px 7px 1px inset);
    color: #DADBB1;
    border-color: black;
}
// @include card-container(#3B3933, #EDEDED, 10px, 10px, 5px, 3px);
