{% load static %}
<html>
    <head>
        <title>Demo</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    </head>
    <body>
        <div id="root"></div>
        <script src="{% static 'js/app.bundle.js' %}"></script>
    </body>
</html>
